name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ci
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Install dependencies in project
        working-directory: ./typescript
        run: pnpm install --no-frozen-lockfile

      - name: Run linter
        working-directory: ./typescript
        run: pnpm recursive run lint

      - name: Build project
        working-directory: ./typescript
        run: pnpm run build

      - name: Initialize environment files
        working-directory: ./typescript
        run: |
          cp .env.example .env

      - name: Run tests
        working-directory: ./typescript
        run: pnpm run test:vitest
